---
layout: default
---
{% assign post = page %}
<div id="main" class="eightcol first clearfix" role="main"></div>
<article class="post" itemscope itemtype="//schema.org/BlogPosting">

  <header class="article-header">
    <h1 itemprop="name headline">{{ page.title }}</h1>   
    <p class="byline vcard">
      Posted <time class="updated" datetime="{{ page.date }}" pubdate="">{{ page.date }}</time> 
      {% if page.categories %}
      <span class="amp">&amp;</span> filed under <a href="/category/film-scores/" rel="category tag">{{ page.categories }}</a>.</p> 
      {% endif %}
  </header>

  <section class="post-content" itemprop="articleBody">
    {% if page.featured_image %}
    <img src="{{ site.cloudinary_url }}w_1600,h_500,c_fill/{{ page.featured_image}}" alt="" />
    {% endif %}
    {{ content }}
  </section>
  
  {% if post.tags.size > 0 %}
    {% capture tags_content %}<i class="fa fa-tag{% if post.tags.size > 1 %}s{% endif %}"></i>: {% endcapture %}
    {% for post_tag in post.tags %}
      {% assign tag = site.my_tags | where: "slug", post_tag %}
      {% if tag %}
        {% assign tag = tag[0] %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <footer class="post-footer">
    <p id="post-meta">{{ tags_content }}</p>
  </footer>
  
</article>

<ul class="nav nav-pills nav-justified">
  {% if page.previous.url %}
    <li><a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></li>
  {% endif %}
</ul>
</div>


